body,html {
    padding: 0%;
    margin: 0%;
    display: grid;
    background-color: rgb(255, 255, 255)
}

.menu {
    width: 100%;
    height: 70px;
    background-color: rgb(244, 217, 200);
    position: fixed;
    z-index: 100;
    margin-bottom: 70px;
}

.profile {
    width: 200px;
    height: 200px;
    margin-left: 170px;
    margin-top: 190px;
    background-color: rgb(233, 190, 210);
}

.bottom{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    margin-top: 100px;
    margin-left: 130px;
}

.highlight{
    height: 170px;
    background: rgb(233, 190, 210);

}

.main{
    display: grid;
    width: 95%;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 130px;
}

.row{
    display: grid;
    width: 84%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    margin-bottom: 50px;
}

.image{
height: 320px;
background: rgb(233, 190, 210);
}